<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>ningmengtoutiao</display-name>

  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <!-- 配置spring核心监听器 -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!-- 指定spring的配置文件 -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContext.xml</param-value>
  </context-param>

  <!-- 定义spring MVC的前端控制器 -->
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/springmvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <!-- 让spring MVC的前端控制器拦截请求 -->
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <!-- 配置编码过滤器 -->
  <filter>
    <filter-name>characterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>characterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- 作者认证过滤器 -->
  <filter>
    <filter-name>EditorApprove</filter-name>
    <filter-class>com.lemon213.filter.EditorApproveFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EditorApprove</filter-name>
    <url-pattern>/write</url-pattern>
  </filter-mapping>
  <!-- 用户登录过滤器 -->
  <filter>
    <filter-name>LoginFiter</filter-name>
    <filter-class>com.lemon213.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFiter</filter-name>
    <url-pattern>/articleComment</url-pattern>
    <url-pattern>/user/myspace</url-pattern>
    <url-pattern>/user/change_message</url-pattern>
    <url-pattern>/updateArticleForm</url-pattern>
    <url-pattern>/user/security</url-pattern>
    <url-pattern>/user/changePwd</url-pattern>
  </filter-mapping>
  <!-- 管理员登录过滤器 -->
  <filter>
    <filter-name>AdminLogin</filter-name>
    <filter-class>com.lemon213.filter.AdminLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminLogin</filter-name>
    <url-pattern>/admin/logout</url-pattern>
    <url-pattern>/admin/articleList</url-pattern>
    <url-pattern>/admin/articleCheck</url-pattern>
    <url-pattern>/admin/articleDelete</url-pattern>
    <url-pattern>/admin/articleRecom</url-pattern>
    <url-pattern>/admin/articleView</url-pattern>
  </filter-mapping>

  <!-- 应用数据初始化监听器 -->
  <listener>
    <listener-class>com.lemon213.listener.InitDataListener</listener-class>
  </listener>

  <session-config>
    <session-timeout>60</session-timeout> <!-- 单位是分钟 -->
  </session-config>
</web-app>
