body{
    font-family: PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,Helvetica Neue,Arial,sans-serif;
}
.container{
    width: 1240px !important;
    margin-top: 70px;
}

/* 左边导航栏 */
.left-nav{
    width:  110px;
    height: 600px;
    position: fixed;
    margin-left: 30px;
    font: 18px "PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei","Helvetica Neue",Arial,sans-serif;
}
span.list{
    color:#444;
}
span.chose{
    color:#fff;
}

/* 文章封面图 */
.cover-img{
    width: 160px;
    height: 100px;
}

/* 文章标题、作者、时间、评论、点赞 */
.headline{
    padding-top: 10px;
    word-wrap: break-word;
    word-break: break-all;
    width: 400px;
    height: 80px;
}
.headline-font{
    color: #222;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 700;
}
.other-info{
    color: #777;
}
.author{
    width: 400px;
    height: 20px;
}

/* 新闻容器 */
.news-container{
    padding-bottom: 30px;
}

/* 加载按钮 */
.reload{
    font-weight:bold;
    font-size: 18px;
    color: #2aabd2;
}

/* 右侧导航栏 */
.friend-link{
    font-size: 18px;
    color: #777;
    line-height: 1.8;
}

.right-nav{
    border-top: 2px solid #ed4040;
    background-color:#f4f5f6;
    margin-bottom: 40px;
}

.hot-article{
    margin-bottom: 8px;
    word-wrap: break-word;
    word-break: break-all;
}

.hot-article a{
    font-size: 17px;
    color: #333;
}

.company {
    padding: 8px 20px;
    background-color: #f4f5f6;
    font-size: 14px;
    text-align: left;
    color: #777;
}